/**
 * Defaults
 * Author: Graffino (http://www.graffino.com)
 */

// Variables
@mixin focus-outline() {
    outline: 0;
    box-shadow: 0 0 0 rem(3px) rgba(black, 0.3);
}

/**
 * Globals
 */

// Custom focus state for DOM elements
*:focus {
    @include focus-outline();
}

// @stylint ignor



* {
    // Border-box
    box-sizing: border-box
}


// HTML
html {
    position: relative;

    // Font rendering
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;

}

// Body
body {
    // Defaults
    overflow-x: hidden;
    min-width: rem(320px);
    margin: 0px;
    background-color: $color-background;
    color: $default-color;
    font-family: $default-fontface-stack;
    font-size: $default-font-size;
    line-height: $default-line-height;

    &.has-background-white {
        background-color: white;
    }


    // Default font-family until webfonts are loaded
    .no-fonts & {
        font-family: $default-system-stack;
    }

}

html,
body {
    // Enable scroll momentum on iPhone Safari (webkit)
    -webkit-overflow-scrolling: touch
}

.main {
    @include clearfix();
    position: relative;
    margin-top: 17vw;
    padding-bottom: rem(70px);

    @include below(small) {
        margin-top: rem(220px);
    }
}

a,
.link {
    display: inline-block;
    color: white;
    text-decoration: underline;
    transition: opacity 250ms ease-in-out;

    &.-color {
        &-github {
            color: #767676;
        }

        &-facebook {
            color: #3b5998;
        }

        &-twitter {
            color: #00aced;
        }
    }

    &:hover {
        opacity: 0.5;
    }
}

.list {
    padding-left: 0;

    &.-type {
        &-simple {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            list-style-type: none;
        }

        &-inline {
            .list__item {
                display: inline-block;
                margin-right: rem(10px);
                margin-left: rem(10px);
            }
        }

        &-tile {
            .list__item {
                @include clearfix();
                margin-top: rem(5px);
                margin-bottom: rem(5px);
                background-color: rgba($color-palette-5, 0.97);

                &>a {
                    display: block;
                    padding: rem(10px);
                    color: white;
                }
            }
        }
    }
    .link {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.4);
    }
}

.tile {
    padding: rem(20px);
    background-color: rgba($color-palette-5, 0.97);
}