.form {
  &__field {
      text-align: left;
  }

  &__input {
      width: 100%;
      height: rem(40px);
      border: 0;
      border-radius: rem(4px);
      padding: 0 rem(10px);
      font-size: rem(20px);
      line-height: 1;
  }

  &__input,
  &__textarea,
  &__select {
      margin-top: rem(10px);
      margin-bottom: rem(20px);
      vertical-align: middle;
  }

  &__textarea {
      width: 100%;
      border-radius: rem(4px);
      padding: rem(10px);
      font-size: rem(18px);
  }

  &__select {
      width: 100px;
      height: 40px;
      border: 0;
      border-radius: rem(4px);
      padding-left: rem(10px);
      font-size: rem(20px);
      text-align: center;
  }

  &__label {
      display: block;
      margin-bottom: rem(4px);
      font-family: $mono-fontface-stack;
      font-size: rem(14px);
      text-align: left;
      text-transform: uppercase;
  }
}
