.popup {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: rem(60px);
  width: rem(400px);
  border-radius: rem(4px);
  padding: rem(30px);
  background-color: white;
  color: black;
  font-family: $mono-fontface;
  font-size: $font-size-3;
  line-height: $line-height-3;
  box-shadow: 0 0 rem(40px) rem(-15px) black;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;

  @include below(medium) {
      bottom: 100%;
      left: 0;
      width: 100%;
      border-radius: 0;
  }

  &.is-visible {
      opacity: 1;
      visibility: visible;
  }
}
